h1{
    display: flex;
    justify-content: center;
    
}
header{
    background-color: black; color: antiquewhite;
    padding: 20px;
}
nav{
    padding: 10px; color: azure; background-color: blue;
}
