h1{
    display: flex;
    justify-content: center;
    
}
header{
    background-color: black; color: antiquewhite;
    padding: 20px;
}
nav{
    padding: 10px;  background-color: blue;
    justify-content: center;
}
a{
    color: black; padding: 5px;
}
